header {
    display: flex;
    top: 0;
    background-color: #604551;
    width: 100%;
    margin: 0px auto;
    position: fixed;
    justify-content: space-between;
    height: 5em;
}

article {
    padding: 1rem;
}

nav {
    padding-top: 7px;
}

body {
    background-color: #D3D3D3;
    margin: 0px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
}